.editForm {
  width: 65%;
  margin-top: 2em;
  margin-right: 2em;
  padding: 2em;
  height: 90%;
  font-size: 0.8em;
  .fullStroke {
    width: 100%;
  }
  .form-control {
    height: calc(1.5em + 0.75rem + 2px);
    font-weight: lighter;
    font-size: 1em;
    font-style: italic;
  }
  .description {
    width: 100%;
  }
  .workers {
    width: 100%;
  }
  .field {
    width: 45%;
  }
  .label {
    width: auto;
    margin-bottom: 0.5rem;
  }
  .address {
    padding-top: 1.5em;
  }
  .buttons > * {
    font-weight: lighter;
    padding: 0.25em 0.5em;
  }
}

.editForm:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
