@import "app/constants.scss";

.workersPanel {
  width: 35%;
  .title {
    font-size: 0.9em;
    width: 100%;
    border-bottom: 1px solid $light-grey;
    color: $light-grey;
    .label {
      color: $dark-grey;
    }
  }
  .cards-container {
    .workerCard {
      cursor: pointer;
      margin-top: 1em;
      width: 90%;
      height: 5em;
      padding: 0.9em;
      .fullSize {
        width: 100%;
      }
      .label {
        border-radius: 10px;
        width: 1em;
        height: 1em;
        background-color: $electricity;
        margin-right: 1.5em;
        margin-left: 1em;
      }
      .info {
        margin-right: 6em;
        .name {
          font-size: 1.1em;
        }
        .type {
          font-weight: lighter;
        }
      }
    }
  }
}
