@import "app/constants.scss";

.workersPanel {
  width: 35%;
  .title {
    font-size: 0.9em;
    width: 100%;
    border-bottom: 1px solid $light-grey;
    color: $light-grey;
    .label {
      color: $dark-grey;
    }
    .filter-icon {
      cursor: pointer;
    }
    .active {
      color: $dark-grey;
    }
  }
  .cards-container {
    overflow-y: scroll;
    height: 33.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    .workerCard {
      cursor: pointer;
      margin-top: 1em;
      width: 95%;
      height: 6em;
      padding: 0.9em;
      .fullSize {
        width: 100%;
      }
      .label {
        border-radius: 10px;
        width: 1em;
        height: 1em;
        margin-right: 1.5em;
        margin-left: 1em;
      }
      .info {
        width: 75%;
        .name {
          font-size: 1.1em;
        }
        .profession {
          font-weight: lighter;
        }
      }
      .icon {
        font-size: 1.4em;
      }
      .checked {
        color: $dark-grey;
      }
      .unchecked {
        color: $grey;
      }
    }
  }
}
