.employee-dialog {
  .left {
    width: 48%;
  }
  .right {
    width: 48%;
  }
  .form-control {
    font-weight: lighter;
    font-style: italic;
    font-size: 0.8em;
  }
  .label {
    font-size: 0.8em;
  }
  .phone {
    margin-bottom: 3.7em;
  }
  .employement {
    margin-top: 0.5em;
  }
  .experience {
    margin-top: 0.5em;
  }
  .btn {
    font-size: 0.8em;
  }
}
