@import 'app/constants.scss';

.filter-panel {
  width: 10em;
  .form-control {
    border: 1px solid white;
    font-weight: lighter;
    font-style: italic;
    font-size: 0.75em;
  }
  .label {
    font-size: 0.75em;
  }
}
