$blue: #1c92d2;

$dark-blue: #1778ac;

$red: #f56666;

$white: #ffffff;

$bg-app: #f9f9f9;

$grey: #979797;

$black: #212529;

$water: #4863C5;

$heat: #EE3E3E;

$gas: #9c9c9c;

$electricity: #ffd700;

$light-grey: #e2e2e2;

$dark-grey: #4C4C4C;
