@import "app/constants.scss";

.card {
  width: 100%;
  height: 11em;
  .card-body {
    padding: 0.5em;
    .left-column {
      width: 16em;
      margin-right: 2em;
    }
    .title {
      font-size: 1.3em;
    }
    .date {
      padding: 0;
    }
  }
  .label {
    border-radius: 10px;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
  }
}
